# npml.util.preprocessing

In [1]:
## Make some sample data

In [2]:
import pandas as pd
from sklearn.datasets import load_boston

# Generate a sample dataset
boston = load_boston()
X = pd.DataFrame(boston['data'], columns=boston['feature_names'])
y = pd.Series(boston['target'])

X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [3]:
from npml.util.preprocessing import feature_selection_correlation

feature_selection_correlation(X, y, 5, verbose=True)

== Features Sorted by Absolute Correlation ==
1: LSTAT - 0.7376627261740148
2: RM - 0.6953599470715393
3: PTRATIO - 0.507786685537562
4: INDUS - 0.4837251600283729
5: TAX - 0.4685359335677671
6: NOX - 0.4273207723732826
7: CRIM - 0.3883046085868116
8: RAD - 0.3816262306397781
9: AGE - 0.37695456500459623
10: ZN - 0.36044534245054327
11: B - 0.3334608196570665
12: DIS - 0.24992873408590394
13: CHAS - 0.17526017719029846
k = 5 -- Dropping: ['NOX', 'CRIM', 'RAD', 'AGE', 'ZN', 'B', 'DIS', 'CHAS']

     INDUS     RM    TAX  PTRATIO  LSTAT
0     2.31  6.575  296.0     15.3   4.98
1     7.07  6.421  242.0     17.8   9.14
2     7.07  7.185  242.0     17.8   4.03
3     2.18  6.998  222.0     18.7   2.94
4     2.18  7.147  222.0     18.7   5.33
..     ...    ...    ...      ...    ...
501  11.93  6.593  273.0     21.0   9.67
502  11.93  6.120  273.0     21.0   9.08
503  11.93  6.976  273.0     21.0   5.64
504  11.93  6.794  273.0     21.0   6.48
505  11.93  6.030  273.0     21.0   7.88

[506 rows x 5 columns]